.name {
    color: #FFBB5C;
}

.dp {
    border-radius: 50%;
  }

.title-section {
    background-color: #C63D2F;
}

.sidebar {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    position: fixed;
    right: 0;
}

aside ul li {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 12px; /* Add some padding */
    opacity: 75%;
}
