/*Media Queries*/
/*TODO: CHANGE FONT SESUAI MEDIAQUERY!*/
@media only screen and (min-width: 305px) and (max-width: 720px){
    .screenshot {
        width: 100%; /* Adjust as needed */
        height: auto;
        margin: 0 auto; /* Center the images */
    }
    
    .screenshot-cb1 {
        width: 100%; /* Adjust as needed */
        height: auto;
        margin: 0 auto; /* Center the images */
    }
    .screenshot-cb2 {
        width: 100%; /* Adjust as needed */
        margin: 0 auto; /* Center the images */
    }

    iframe {
        scale: 95%;
        width: 100%;
        position:relative;
        text-align: center;
    }
}

@media only screen and (min-width: 721px) {
    .screenshot {
        width: 45%; /* Adjust as needed */
        height: auto;
        margin: 0 auto; /* Center the images */
    }
    .screenshot-cb1 {
        width: 50%; /* Adjust as needed */
        height: 80px;
        margin: 0 auto; /* Center the images */
    }
    .screenshot-cb2 {
        width: 50%; /* Adjust as needed */
        margin: 0 auto; /* Center the images */
    }
}

/*HTML ELEMENTS*/
body {
    background-color: #222831 !important;
    font-family: 'Manrope', sans-serif;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #D7B34D;
}

section {
    background-color: #31363F;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 5px;
}

section p  {
    font-size: 1.25rem;
    color: #FFF4F4;
}

section div {
    color: #FFF4F4;
    font-size: 1.25rem;
    margin-top: 5px;
}

h3 {
    font-size: 2rem;
}

h4 {
    clear: both;
    font-size: 1.75rem;
    color: #FFF4F4;
}

aside ul li {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 12px; /* Add some padding */
    opacity: 75%;
    font-size: 1.75rem;
}

/*Buttons*/

#course-button {
    font-family: inherit;
    background-color: #D7B34D !important;
    color: #31363F;
}

.course-button:hover {
    text-decoration: none;
    font-family: inherit;
    background-color: #FFE066;
    color: #222831;
}


/*Navigation Panel*/
.navpanel {     /*nav panel container*/
    overflow: hidden;
    background-color: #D7B34D;
    text-align: center;
}

.navpanel a{
    text-decoration: none; 
    display:inline-block;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5rem;
    color: #31363F;
}

.navpanel a:hover {
    text-decoration: none;
    background-color: #FFE066;
    color: #222831;
}

/* .navpanel a:active {
    text-decoration: none;
} */

#home {
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

#tum-courses {
    width: 100%;
    padding: 5px 0;
    text-align: left;
    background-color: #222831;
    margin-top: 20px;
    color: #FFF4F4;
}

#skills {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#Experience {
    list-style-type:disc;
    color: #d3cec5;
    font-size: 1.5rem;
}

#Education {
    list-style-type:disc;
    color: #d3cec5;
    font-size: 1.5rem;
}

#Projects {
    list-style-type:disc;
    color: #d3cec5;
    font-size: 1.5rem;
}

#Projects h4 {
    color: #FFE066;
}

#Experience h3 {
    color: #FFE066;
}
#Experience p {
    font-size: 1.25rem;
}

/*others*/

div.dp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 800px;
    width: 100%;
}

.dp2 img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: top;
    z-index: 1;
}

.name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 60%;
    background-color: rgba(34, 40, 49, 0.75);
    z-index: 2;
}
.name h1 {
    color: #FFC300;
    clear: both;
    font-size: 4rem;
    text-align: center;
    margin: 5px 15px 20px;
}

.name h4 {
    font-size: 1.75rem;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.blur-background {
    background-image: url('../assets/picture_vertical.jpg');
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure the blurred background is behind the image */
    filter: blur(20px); /* Adjust the blur intensity as needed */
    position: absolute;
    bottom: 0;
}

/* For smaller screens */
@media only screen and (max-width: 600px) {
    div.dp2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 800px;
        width: 100%;
    }
    .dp2 img {
        width: 100%;
        height: 100%;
        object-fit:contain;
        object-position: top;
    }

    .blur-background {
        background-image: url('../assets/picture_vertical.jpg');
        background-size: contain; /* Ensure the background image covers the entire element */
        background-position: top; /* Center the background image */
        width: 100%;
        height: 100%;
        z-index: 0; /* Ensure the blurred background is behind the image */
        filter: blur(20px); /* Adjust the blur intensity as needed */
        position: absolute;
        top: 0;
    }

    .name {
        height: auto; /* Allow height to adjust based on content */
        max-height: 90%; /* Limit maximum height to 30% of the container */
        overflow: hidden; /* Hide overflowing content */
    }
    .name > h1 {
        color: #FFC300;
        clear: both;
        font-size: 2.5rem;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .name h4 {
        text-align: center;
        font-size: 1.25rem;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .short-bio {
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        font-size: 1rem;
    }
    .navpanel a{
        font-size: 1rem;
    }
}

p[class~="grade"] {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.section-title {
    /*border-bottom-width: thick;
    border-bottom-color: #FFF4F4;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: double;*/
    padding-bottom: 5px;
    padding-right:40px;
    margin-top: 0.3%;
    margin-bottom: 0.7%;
    width: 85%;
    color: #FFC300;
    font-size: 3rem;
}

.short-bio {
    clear:  none;
    /* border-top: 5px;
    border-top-width: thick;
    border-top-style: solid; */
    text-align: center;
    margin-top: 0%;
    border-top: thick solid #FFF4F4;
    padding-top: 10px;
    margin-bottom: 15px;
}

.subheading-education {
    color: #FFF4F4;
    margin-bottom: 5px;
}

.subheading-education2 {
    color: #FFF4F4;
}


.arrow {
    border: solid black;
    width: 7px;
	height: 7px;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);   
}

.sidebar {
    opacity: 75%;
    /* padding: 15px; */
    position: fixed;
    right: 0;
    bottom: 10%;
    z-index: 5;
} 

#sidebar-button {
    background-color: #FFC300;
    position: fixed;
    right: 0;
    bottom: 10%;
    z-index: 5;
}

.icon {
    height: 48px;
    width: 48px;
    display:inline-block;
    margin-top: 3px;
    margin-bottom:-5px;
    margin-left: 10px;
    margin-right: 10px;
    opacity:70%;
}

.emailme {
    color: #FFBB5C;
}

.demo {
    color: #FFBB5C
}

.cb-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}