body {
    background-color: #C63D2F;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Manrope', sans-serif;
}

section {
    background-color: #E25E3E;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 5px;
}

.title-section .dp {
    background-color: #E25E3E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

.name {
    color: #FFBB5C;
    font-size: 60px;
}

p {
    font-size: 25px;
    color: #FFF4F4;
}

footer {
    color: #FFBB5C;
}

.bold {
    font-weight: bold;
}

.dp {
    border-radius: 50%;
  }

#tum-courses {
    display: none;
    width: 100%;
    padding: 5px 0;
    text-align: left;
    background-color: #FF9B50;
    margin-top: 20px;
    color: #FFF4F4;
}

.navpanel {
    font-size: 25px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #FFBB5C;
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
    color: #FFF4F4;
}

.subheading-education {
    color: #FFF4F4;
}

.subheading-education2 {
    color: #FFF4F4;
}

.grade {
    font-size: 20px;
    color: #FFF4F4;
}

.sidebar {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    position: fixed;
    right: 0;
}

aside ul li {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 12px; /* Add some padding */
    opacity: 75%;
    font-size: 40px;
}
